{% load static %}

<footer class='bg-dark w-100'>
    <div class='container-fluid'>
        <div class='brand'>
            <img src={% static 'mainapp/img/1.png' %} alt="logo" class='img-fluid mt-5 logo-footer' id='footer_img'>
        </div>
        <ul class='nav justify-content-center mt-1'>
            <li><a href="{% url 'lessons' %}" id='footer_info'>Derslerimiz</a></li>
            <li><a href="{% url 'about' %}" id='footer_info'>Hakkımızda</a></li>
            <li><a href="{% url 'gallery' %}" id='footer_info'>Galeri</a></li>
            <li><a href="{% url 'contact' %}" id='footer_info'>İletişim</a></li>

        </ul>
        <ul class='nav justify-content-center' id='social'>
            <li class='nav-item'>
                <a class='nav-link' href="https://www.instagram.com/eforsporelit/">
                    <img src={% static 'mainapp/img/i-orange.png' %}>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="https://www.facebook.com/eforwellness">
                    <img src={% static 'mainapp/img/f-orange.png' %} >
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href="https://api.whatsapp.com/send/?phone=905054095835&text&type=phone_number&app_absent=0">
                    <img src={% static 'mainapp/img/o-wp.png' %}>
                </a>
            </li>
        </ul>
        <p class='footer-last text-center'>©2022 Efor Spor Elit.</p>
    </div>
</footer>
